

.homeContainer {
  background-image: url('/background-container.jpg');
  background-color: transparent; 
  background-size: cover;
  background-position: center;
}

.hero {
  background-image: url('/background-home.jpg'); 
  background-size: cover;
  background-position: center;
}

.heroText {
  background: linear-gradient(80deg, #CBB4FD, #8CE4FD, #8CE4FD);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1em;
  letter-spacing: -2%;
}

.priceContainer {
  background-image: url('/background-price.jpg'); 
  background-size: cover;
  background-position: center;
}

/* Este es el contenedor de la imagen */
.imageContainer {
  position: relative;
  height: 15rem; /* h-60 */
  overflow: hidden;
  border-radius: 8px;
  background-color: #f3f4f6;
}

/* Estado base de la imagen */
.zoomImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Forzamos los valores para que nada los sobreescriba */
  transition: transform 1000ms ease-in-out !important;
  transform: scale(1);
}

/* Usamos la clase de la Card para disparar el zoom */
.customCard:hover .zoomImage {
  transform: scale(1.1) !important;
}